.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card {
  text-align: center;
  flex: 25%;
  max-height: 350px;
  max-width: 370px;
  margin: 15px 20px;
  padding: 30px 20px;
  border: 1px solid rgb(221, 221, 221);
}



.card-title,
.card-link,
.card-text,
.card-icon {
  margin: 15px;
}

.card-icon {
  color: #6195ff;
}

.card-title {
  text-transform: capitalize;
  font-size: 25px;
  transition: color 0.2s;
}

.about-card:hover .card-title {
  color: #fff;
}

.card-text {
  line-height: 1.5;
  color: rgb(145, 145, 145);
  text-transform: capitalize;
}

.card-link {
  color: #6195ff;
}



@media screen and (max-width:1024px) {

  .about-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .about-card {
    text-align: center;
    margin-bottom: 20px;
    max-height: unset;
    max-width: 90%;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 25px;
  }


}


@media screen and (min-width: 769px) and (max-width:1024px) {

  .about-card {
    max-width: 75%;

  }
}