/* ***********Author */

.blog-author {
    padding: 20px;
    border: 1px solid var(--mid-gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.author-img {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    min-width: 200px;
    padding: 10px;
    padding-top: 0;
}

.author-img img {
    width: 100%;
}

.author-info {
    padding-left: 15px;
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
}

.author-info .author-header {
    border-bottom: 1px solid var(--mid-gray);
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.author-info .author-header h3 {
    font-size: 22px;
}

.author-info p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray);
}

.author-info .author-header,
.author-info p {
    margin-bottom: 15px;
}

.author-info .social-links {
    margin: 0;
}

.author-info .social-links li a {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.author-info .social-links li {
    margin: 0;
}


@media screen and (max-width: 480px) {
    .blog-author {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }

    .author-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

    }

    .author-img {
        width: 40%;
        min-width: 200px;
        -webkit-box-flex: 20%;
            -ms-flex: 20%;
                flex: 20%;

    }

    .author-info {
        padding-left: 0;
        -webkit-box-flex: 80%;
            -ms-flex: 80%;
                flex: 80%;
    }

    .author-info .author-header h3,
    .author-info .social-links {
        margin-top: 10px;
    }


}