.header {
  position: relative;
}

.post .container {
  width: 75%;
}

.navbar {
  background-color: rgb(255, 255, 255);
}

.navbar>.navs>li a {
  color: rgb(0, 0, 0);
}


.post-body {
  width: 75%;
}

.post-img {
  width: 100%;
}

.post-img img {
  width: 100%;
}

.post-title,
.post-details,
.post-desc,
.post-link {
  padding: 0 20px 0 0;
}



/* ***************section-topic */

.section-topic {
  margin: 40px 0 25px 0;
}

.section-topic h3 {
  font-size: 21px;
}

.section-topic .section-line {
  margin: 15px 0 0 0;
}

/* ********************* Sidebar ******************/

.post-sidebar {
  width: 25%;
  padding-left: 25px;
}

.search {
  background-color: #fafafa;
  border: transparent;
  border-radius: 3px;
  position: relative;
}

.post-sidebar .search input {
  width: 100%;
  border-radius: 3px;
  border: transparent;
  background-color: #fafafa;
  height: 40px;
  padding: 0 50px 0 10px;
}

.search button {
  position: absolute;
  right: 10px;
  top: 4px;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #6195ff;
  cursor: pointer;
}

.cate {
  border-top: 1px solid var(--mid-gray);
  padding: 10px 0;
}

.cate a {
  color: #10161a;
  font-size: 15px;
}

.cate a:hover {
  color: var(--maincolor);
}

.cate span {
  font-size: 14px;
  color: var(--maincolor);
}

.tags .side-tags a {
  margin: 2px 0;
}

.side-recent-post {
  margin: 30px 0;
}

.side-post-header {
  width: 65%;
  padding-left: 15px;
}

.side-post-header .side-post-title {
  font-size: 16px;
  color: #10161a;
  margin-bottom: 5px;
  display: inline-block;
}

.side-post-header .side-post-title:hover {
  color: var(--maincolor);
}

.side-post-header .side-post-details {
  font-size: 12px;
}

.side-post-img {
  width: 35%;
}

.side-post-img img {
  width: 100%;
}