
.breadcrumbs .container {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.breadcrumbs {
    /* height: 160px; */
    background-color: #fafafa;
    position: relative;
    padding: 60px 0;
}

.bread-title {
    font-size: 32px;
    margin: 10px 0;
}

.bread-pages {
    margin: 10px 0;
}

.bread-pages li {
    display: inline-block;
    font-size: 17px;
}

.bread-pages li+li::before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.bread-pages li a {
    color: var(--maincolor);
}


@media screen and (max-width:769px) {

    .breadcrumbs .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}