
.contact-details,
.contact-icon,
.contact-title {
  margin-bottom: 20px;
  text-align: center;
}

.contact-details {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-item {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  margin: 0 1.6%;
}

.contact-icon {
  color: #6195ff;
  font: 35px;
}

.contact-title {
  font-size: 18px;
  text-transform: capitalize;
}

.contact-desc {
  color: #8f8f8f;
}

.contact-form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  /* max-width: 65%; */
  /* justify-content: center; */
  /* margin: 0 auto;
  margin-left: 16.66666667%; */
}

.contact-input,
.contact-message {
  width: 100%;
  background-color: #f4f4f4;
  border-color: transparent;
  border-bottom: 2px solid #eee;
  color: #354052;
  opacity: 0.5;
  border-radius: 3px;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.contact-input {
  height: 45px;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-flow: row wrap; */
}

.name-email .contact-input {
  /* flex: 50%; */
}

.contact-input.name {
  margin-right: 2.2%;
}

.contact-message {
  min-height: 80px;
  padding-top: 10px;
  font-size: 17px;
}

.contact-btn {
  border-radius: 3px;
  margin-top: 18px;
}

.name-email,
.submit,
.contact-message,
.contact-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}



@media screen and (max-width:769px) {


  .contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .contact-item {
    margin: 10px 1.6%;
  }

  .contact-form {
    /* width: 100%;
    margin: 0; */
  }

}

@media screen and (max-width:480px) {
  .name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .name-email .contact-input {
    /* flex: 1; */
  }
}