
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar {
  padding: 0 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  flex: 15%;
  padding: 10px;
}

.navbar .logo-img-alt {
  display:none;
}

.navbar .logo img {
  width: 100px;
}

.navbar>.navs {
  flex: 85%;
  text-align: right;
  padding: 5px 10px;
}

.navbar>.navs>li {
  display: inline-block;
  margin: 2px 5px;
}

.navbar>.navs>li>a {
  padding: 20px 8px;
  -webkit-transition: -webkit-text-decoration 2s;
  transition: -webkit-text-decoration 2s;
  -o-transition: text-decoration 2s;
  transition: text-decoration 2s;
  transition: text-decoration 2s, -webkit-text-decoration 2s;
}

.navbar>.navs>li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
}

.navbar>.navs>li>a:after,
.navbar>.navs>li>a.active:after {
  content: "";
  width: 0%;
  height: 2.5px;
  margin-top: 1px;
  background-color: #6195ff;
  display: block;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.navbar>.navs>li>a.active:after {
  width: 100%;
}

.navbar>.navs>li>a:hover:after {
  width: 100%;
}

.dropdown {
  position: relative;
  text-align: center;
}

.fa-angle-down {
  font-size: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-parent {
  position: absolute;
  text-align: center;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-parent li {
  padding: 10px;
}

.dropdown:hover .blog-parent {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .fa-angle-down {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.blog-post {
  width: 200px;
  height: 40px;
  text-align: start;
  padding: 10px;
  margin: auto;
  background-color: #6195ff;
  color: #fff;
}


.burger{
  display:none;
  padding:10px;
  cursor:pointer;
}

.burgerline{
  display:block;
  position:relative;
  width: 30px;
  height: 4px;
  background-color:black;
  margin:6px 0;
  transition: all 0.2s;
}

.burgerline::before{
content:"";
position:absolute;
width: 30px;
height: 4px;
background-color:black;
/* top:9px;  //slower in motion than translate */
transform: translateY(-8px);
transition: all 0.2s;
}

.burgerline::after{
  content:"";
  position:absolute;
  width: 30px;
  height: 4px;
  background-color:black;
/* top:-9px;  //slower in motion than translate */
  transform: translateY(8px);
  transition: all 0.2s;
  }

.nav-collapse .burgerline {
  background-color:transparent;

}

.nav-collapse .burgerline::before {
  transform: translateY(0px) rotate(135deg);

}

.nav-collapse .burgerline::after {
  transform:translateY(0px) rotate(-135deg);
}

/**************************  Home ***************************/

.home {
  background-image: url(../images/background/background1.webp);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  /* background-position: 0px -50px; */
}

.homeContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  /* vertical-align: middle; */

}

.home-title {
  font-size: 55px;
}

.home-desc {
  width: 50px;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.home-title,
.home-desc {
  color: rgb(255, 255, 255);
  margin: 20px 0;
  width: 100%;
}

.whitebtn {
  background-color: #fff;
  color: #000;
  /* border: none; */
}

.bluebtn {
  background-color: #6195ff;
  color: #fff;
}



@media screen and (max-width:1024px) {

  .header .container{
    width:96%;
  }

  .navbar {
    padding:0;
  }

  .home-title {
    font-size: 45px;
  }

  .homeContent {
    width: 80%;
  }
}



@media screen and (max-width:769px) {

.header{
  background-color:white;
  transition: all 0.3s;
  position:fixed;
}


.navbar{
}

.navbar .logo{
  flex:unset;
}

.navbar .logo-img {
display:none;
}

.navbar .logo-img-alt {
  display:block;
}

.navbar .navs {
    width:250px;
    height:100vh;
    padding:0;
    overflow-y: auto;
    position:fixed;
    top:71px;
    right:0;
    display:flex;
    flex-flow:column;
    align-items:start;
    background-color:#1C1D21;
    transform: translateX(100%);
    transition:all 0.15s ease-in;
  }

  .nav-toggle.navs{
    transform: translateX(0);
  }

  .navbar .navs> li{
    text-align:left;
    width:100%;
    border-top: 1px solid rgb(249 250 250 / 10%);
    margin:0;
  }



  .navbar>.navs>li a{
    color:white;
    width:100%;
    padding:10px 10px;
  }

  .navbar .navs> li a:hover, .navbar .navs> li a:focus{
    background-color: #6195ff;
    opacity:1;
  }

  .navbar>.navs>li>a.active:after {
    width:0;
   }

  .navbar>.navs>li>a:hover:after {
   width:0;
  }
  

  .burger{
    display:block;
  }

}
