
.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* align-items: center; */
}

.services-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  /* height: 210px; */
  margin: 20px 10px;
  padding: 40px 20px 40px 70px;
  position: relative;
  border: 1px solid rgb(236, 236, 236);
}


.services-card .icon {
  position: absolute;
  top: 40px;
  left: 20px;
  color: #6195ff;
}

.services-card .title {
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: 22px;
  color: #000;
}

.services-card .desc {
  margin-bottom: 10px;
  line-height: 1.5;

  color: rgb(131, 131, 131);
}

.services-card:hover .title {
  color: #fff;
}



@media screen and (max-width:1024px) {
  .services-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .services-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}


@media screen and (max-width:769px) {
  .services-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

/***********************  Services2 ************************/

.services2 {
  background-color: #f8f8f8ff;
}

.services2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.services2-lf-content {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding: 10px 10px;
}

.services2-lf-content .section-header {
  text-align: left;
}

.services2-lf-content .section-header .section-line {
  margin: 0 0 70px 0;
}

.services2-lf-content .desc {
  margin: 20px 0;
  line-height: 1.5;
  color: #8f8f8f;
}

.services2-list {
  margin-bottom: 15px;
  color: #8f8f8f;
}

.services2-list i {
  color: #6195ff;
  font-size: 15px;
  vertical-align: middle;
  padding: 5px 5px;
  border: 1px solid #6195ff;
  border-radius: 50%;
}

.services2-list::before {
  content: "";
}

/* ****** */

.services2-slider {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.slider-img {
  padding: 10px;
}

.slider-img img {
  width: 100%;
  height: 100%;
}

.slider-bollets {
  text-align: center;
  cursor: pointer;
}

.slider-bollets li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #dfdfdf;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider-bollets li:hover {
  background-color: #6195ff;
}

.slider-bollets .active {
  width: 20px;
  border-radius: 10px;
  background-color: #6195ff;
}


@media screen and (max-width:1024px) {
  .services2-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .services2-lf-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .services2-slider {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}