
.workdone {
  position: relative;
}


.workdone-bg {
  background-image: url(../images/background/background2.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* min-height: 280px; */
  /* max-height: 500px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.workdone-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.summary {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  margin: 0 10px;
  padding: 60px 0;
}

.summary-icon,
.summary-no,
.summary-disc {
  margin: 10px 0;
}

.summary-icon {
  color: #6195ff;
  font-size: 30px;
}

.summary-no {
  font-size: 37px;
  color: #fff;
}

.summary-disc {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}



@media screen and (max-width:769px) {
  .workdone-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .summary {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
  }
}